* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding: 5%;
  height: 100vh;
}
.react-pdf__Page__textContent {
  display: none !important;
  height: 0px !important;
  width: 0px !important;
}
.react-pdf__Page__annotations {
  height: 0px !important;
  width: 0px !important;
}
